.Today {
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  border-radius: 12px;
  margin-bottom: 12px;
  color: #e1e3e6;
  .Today__avatar {
    margin: 12px;
  }
  .Today__title {
    font-weight: 800;
    padding-bottom: 12px;
    line-height: 1.2;
    width: 90%;
    text-align: center;
    .Today__title_textarea {
      width: 100%;
      border: 0;
      background: none;
      text-align: center;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 800;
      color: #e1e3e6;
      outline: none;
      resize: none !important;
      &::placeholder {
        color: #aaaeb3;
      }
    }
  }
  .Today__detail {
    padding-bottom: 12px;
    width: 90%;
    text-align: center;
    .Today__detail_textarea {
      width: 100%;
      border: 0;
      background: none;
      text-align: center;
      font-size: 16px;
      line-height: 1.2;
      color: #e1e3e6;
      outline: none;
      resize: none !important;
      &::placeholder {
        color: #aaaeb3;
      }
    }
  }
  .Today__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .Today__bottom_icon {
      padding: 12px;
      opacity: 1;
      display: flex;
      align-items: center;
      &.disable {
        opacity: 0.6;
      }
      span {
        padding-left: 4px;
      }
    }
    .Button {
      margin: 0px 6px 12px;
    }
  }
  &.Today__share {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 40px;
  }
  &.Today__profile {
    padding: 0;
  }
}

.Gradient {
  display: flex;
  padding: 12px;
  overflow: auto;
  .Gradient__item {
    margin: 0 6px 0 4px;
    position: relative;
    &.active {
      &:after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-color: #5c9ce6;
      }
    }
    .Gradient__item_background {
      background-size: cover;
      width: 24px;
      height: 24px;
      border-radius: 24px;
    }
  }
}

.Footer__without-margin {
  margin-top: 12px;
  margin-bottom: 0;
}

.ModalCard .FormStatus {
  margin-bottom: 12px;
}

.Spinner__modal {
  height: 56px;
}

.Comment {
  padding: 12px;
  position: relative;
  .Comment__input {
    width: 100%;
    height: 66px;
    .Textarea__el {
      height: 66px !important;
      min-height: 66px;
      padding-right: 44px;
    }
  }
  .Comment__send {
    position: absolute;
    right: 22px;
    bottom: 33px;
    z-index: 10;
    opacity: 1;
    &.disable {
      opacity: 0.6;
    }
  }
}

.Comments {
  .Comments__message {
    font-size: 15px;
    color: #000;
    color: var(--text_primary);
  }
  .Comments__ts {
    font-size: 13px;
    line-height: 15px;
    color: #818c99;
    color: var(--text_secondary);
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Rating {
  display: flex;
  align-items: center;
  span {
    margin-right: 4px;
  }
}

.Indent {
  height: 6px;
}

.Start__title {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}